
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.sec-title{
  background: -webkit-linear-gradient(90.51deg, #3494E6 -0.9%, #272499 112.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-title {
  @apply text-3xl md:text-6xl tracking-widest font-extrabold  uppercase ;
}

.logo-nav {
  @apply flex items-center justify-between w-fit font-bold text-white text-lg lg:text-2xl select-none cursor-pointer;
}

.navbar-item {
  @apply cursor-pointer text-sm text-white hover:text-[#4285F4] transition duration-500;
}
.navbar-mobile-item {
  @apply cursor-pointer text-sm text-white hover:text-[#4285F4] transition duration-500;
}
.navbar-burger {
  @apply w-10 h-1 rounded-full bg-[#CBD6E1];
}